# Habilitar el motor de reescritura
RewriteEngine On

# Establecer la base del proyecto
RewriteBase /

# Excluir solicitudes para archivos o directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las demás solicitudes a index.php
RewriteRule ^(.*)$ index.php [L,QSA]
